fastapi
uvicorn
transformers
easyocr
Pillow
pydantic
python-multipart
SQLAlchemy
psycopg2-binary
scikit-learn
pypdf
sentence-transformers
SpeechRecognition
gTTS
pycryptodome
opencv-python
numpy
fuzzywuzzy
python-Levenshtein
bcrypt
